@model IEnumerable<ProyectoX.Models.TiendaSucursal>

@{
    ViewData["Title"] = "Sucursales";
}

<h1>Tienda Sucursales</h1>

<p>
    <a asp-action="Create">Crear Sucursal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoEncargado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTiendaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoEncargado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTiendaNavigation.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTiendaSucursal">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTiendaSucursal">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTiendaSucursal">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
