@model ProyectoX.Models.BodegaProducto

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Bodega Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoEdificio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoEdificio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estanteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estanteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelEstanteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelEstanteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosicionEstanteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosicionEstanteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBodegaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBodegaNavigation.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBodegaProducto">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
