@model ProyectoX.Models.FacturaVenta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FacturaVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correlativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correlativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NitCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NitCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCotizacionVentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCotizacionVentaNavigation.EstadoCotizacion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVendedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVendedorNavigation.Codigo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFacturaVenta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
