@model IEnumerable<ProyectoX.Models.FacturaDetalleCompra>

@{
    ViewData["Title"] = "Detalles Compra";
}

<h1>DETALLE COMPRA</h1>

<p>
    <a asp-action="Create">Agregar Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoConsumoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoConsumoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFacturaDetalleCompra">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdFacturaDetalleCompra">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFacturaDetalleCompra">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
