@model ProyectoX.Models.TransporteEntrega

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalles</h1>

<div>
    <h4>Transporte Entrega</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraRegreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraRegreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KilometrajeSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KilometrajeSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KilometrajeEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KilometrajeEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConductorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConductorNavigation.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehiculoNavigation.Marca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTransporteEntrega">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
